.btn{
    background-color:var(--blue);
    color:var(--white);
    border-radius: 3rem;
    padding:0.6rem 1.5rem;
    font-weight: 600; 
    min-width:150px;
    text-align: center;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 5px 5px 10px rgba(58,128,233,0.5);
    transition: all 0.3s;
}

.outlined-btn{
    background-color: var(--black);
    color:var(--white);
    border:2px solid var(--blue);
    padding:0.6rem 1.5rem;
    font-weight: 600; 
    cursor: pointer;
    border-radius: 3rem;
    min-width: 150px;
    text-align:center;
}
.outlined-btn:hover{
    background-color: var(--blue);
}