.flex-info{
    display: flex;
    padding:0.5rem 3rem;
    justify-content: space-between;
    align-items: flex-start;
}
.left-component{
    margin:0;
}
.trackcrypto-heading{
    font-size: 6rem;
    margin:0; 
}
.trackcrypto-heading{
-webkit-text-stroke-width: 3px;
-webkit-text-stroke-color: var(--white);
color:var(--white);
}
.trackcrypto-heading:hover{
-webkit-text-stroke-color: var(--white);
color:var(--black);
transition: all 0.3s;}
.realtime-heading{
    font-size: 6.5rem;
    margin:0;
    color:var(--blue);
}
.trackparagraph{
    color: var(--grey);
}
.btns{
    display: flex;
    margin:2.5rem 0;
    gap:1.5rem;
}

.phone-container{
    width: 50%;
    position: relative;
    padding:1rem;
}

.iphone{
    position: absolute;
    z-index:100;
    min-width: 300px;
    width:50%;
    right: 0;
}
.gradient{
    position: absolute;
    min-width:250px;
    width:40%;
    right:0;
    top:8rem;
}

@media only screen and(max-width:1250px){
    .trackcrypto-heading,
    .realtime-heading 
    {
        font-size: 5rem;
        margin:0; 
    }
}

@media only screen and(max-width:1000px){
  
.iphone{
    min-width: 250px;
    width:50%;
   
}
.gradient{
    min-width:200px;
    top:6rem;
}
}

@media only screen and (max-width:800px){
.flex-info{
    flex-direction: column;
}
.phone-container{
    display: block;
    margin:auto;
    margin-top:3rem;
}
.iphone{
    left:15%;
}
.gradient{
    left:25%;
}
.left-component{
    width:100%;
}
.trackcrypto-heading,
.realtime-heading 
{
    font-size: 5rem;
    margin:0; 
}
}

    